/* .cover-image {
    overflow: hidden;
    width:100%;
    background-image: 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    url(images/jacksCanyon2.png);
} */
