body {
    padding: 0px;
    margin: 0px;
}



/* Home Page */
#home{
   
    height: 110vh;

}
h1 {
    text-align: right;
    font-family: 'Amatic SC', sans-serif;
    font-size: 70pt;
    color: whitesmoke;
}

h1.sm {
    text-align: right;
    font-family: 'Amatic SC', sans-serif;
    font-size: 50pt;
    color: whitesmoke;
    line-height:50pt;
}

h2 {
    text-align: right;
    font-family: American Typewriter;
    font-size: 20pt;
    color: whitesmoke;
    line-height: 40px;
    
}

h3 {
    font-size:15pt;
}
#title
{
    height:100%;
    left: 0;
    line-height: 100px;
    margin-top: -100px;
    background-position: absolute;
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0, 0, 0, 0.8)), url("images/peace.jpg");
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;  
     
}

/* For the commonly-used */

.center-text {
    text-align:center;
    margin: auto;
}

.white-text{
    color: whitesmoke;
}
.black-text{
    color: rgba(1,1,1)
}
a{
    color: inherit;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.float-right{
    float:right;
}

.float-left{
    float:left;
}

.float-right2{
    float:right;
    width:50%;
}

.float-left2{
    float:left;
    width:50%;
}


.image-contained{
    width:100%;
    vertical-align: center;
}

.inline-div{
    display:block;
}

.foat-center{
    float:center;
}


/* White Divider pages */

.white-background-div {
    padding:100px;
    padding-top:150px;
    background-color:white;
    color: solid black;
}

.white-background-text {
    text-align:center;
    color:black;
}


/* About */
.friday {
    background-color: '#ff984a';
}

.sat {
    background-color: '#ff6d00';
}

.sun {
    background-color: '#964100';
}



/* Registration page */

#signup-div{
    height:100%;
    padding: 100px;
    padding-top:150px;
    left: 0;
    line-height: 200px;
    background-position: absolute;
    width: 100%;
    background: linear-gradient(to left, rgba(0,0,0,0.2), rgba(0, 0, 0, 0.5)), url("images/amalia.jpg");
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    text-align: left;
    color:white;
    
}


#signup-div-left {
    text-align: center;
    width:50%;
}

#signup-button{
    width: 400px;
    height: 100px;
    border-radius: 1px;
    font-size: 40px;
    background-color: rgba(0, 204, 255, 0.3);
    color: whitesmoke;
}

#signup-button:hover {
    background-color:rgba(53, 115, 131, 0.9);
}

#signup-button:active {
    background-color:rgba(0,0,0,0)
}


table {
    border-collapse:collapse;
    width:100%;
    margin-top:70px;
    margin-bottom:30px;
}

th {
    height:70px;
    background-color:rgba(0, 204, 255, 0.33);
    border-radius: 1px;
}

td {
    height:50px;
}

th, td {
    border-bottom: 1px solid #ddd;
    border-left:none;
    text-align:center;
    vertical-align: center;
}


/* Route List  */

#route-list-outer{
    background: url("images/route-list-stock.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    padding: 10%;
    background-attachment: fixed;
}
#route-list-inner{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5%;
    border-radius: 25px;
}


#route-button{
    border-radius: 25px;
    width:100%;
    font-size: 40px;
    color: (1,1,1);
    padding: 15px;
    background-color:rgba(255,255,255,0);
}

#route-button:hover {
    color:rgba(255,109,0)
}

/* Directions */

#directions
{
    padding-bottom:150px;
}


/* Camping */

#camping
{
    padding: 150px;
    padding-bottom: 250px;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    background-position: absolute;
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0, 0, 0, 0.4)), url("images/tent.jpg");
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;  
     
}
